@use "../helpers/" as *;

.card {
	background-color: #fff;
	border-radius: 1.5rem;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
	&__header {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;

		&-bg {
			vertical-align: bottom;
			width: 100%;
		}

		&-avatar {
			border-radius: 50%;
			border: 5px solid white;
			position: absolute;
			top: 62%;
			@include media(sm-phone) {
				width: 35%;
			}
		}
	}
	&__info {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;

		&-name {
			margin-top: 7rem;
			margin-bottom: 5px;
			color: $very-dark-desaturated-blue;
			span {
				margin-left: 0.5rem;
				font-weight: map-get($font-weights, regular);
				color: $dark-grayish-blue;
			}
		}
		&-place {
			margin-bottom: 22px;
			color: $dark-grayish-blue;
		}
		.divider {
			height: 1px;
			width: 100%;
			background-color: #e7e7e7;
		}
		&-stats {
			width: 100%;
			padding: 2.5rem 4.8rem;
			list-style: none;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 1rem;
			p {
				font-size: 1rem;
			}
			%translate {
				transform: translateX(-0.7rem);
			}
			.stat {
				text-align: center;
				h3 {
					color: $very-dark-desaturated-blue;
				}
				p {
					color: $dark-grayish-blue;
					letter-spacing: 0.15rem;
					line-height: 1.5rem;
				}
				&.likes,
				&.photos {
					@extend %translate;
				}
			}
			@include media(sm-phone) {
				padding: 1.5rem 2.3rem;
			}
		}
	}
}
